# Carpeta de compilación de CMake
build/
.cache/
compile_commands.json

# Ejecutables y binarios generados
bin/*
!bin/.gitkeep
*.exe
*.obj
*.o
*.dll

# Compilador local legacy (si existiera)
mingw64/

# Configuraciones temporales y personales de VS Code
.vscode/*.code-workspace

# Archivos personales / privados
USER.md

# Archivos de sistema Windows
Thumbs.db
desktop.ini
